<% include ../include/dash_header %>

<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                        <h3 class="font-weight-bold">안전 관리 현황</h3>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="justify-content-end d-flex">
                            <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                                <button class="btn btn-sm btn-light bg-white" type="button" id="dropdownMenuDate2"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="mdi mdi-calendar"></i> Today ( <%= dayjs().format('YY.  MM.  DD') %> )
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card tale-bg">
                    <div class="card-people mt-auto">
                        <img src="../dash_assets/images/dashboard/people.svg" alt="people" onerror="this.src='/upload/noimage.png'">
                        <div class="weather-info">
                            <div class="d-flex">
                                <div>
                                    <h2 id="temp" class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>-<sup>℃</sup></h2>
                                </div>
                                <div class="ml-2">
                                    <h4 id="locateName" class="location font-weight-normal">-</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin transparent">
                <div class="row">
                    <div class="col-md-6 mb-4 stretch-card transparent">
                        <div class="card card-tale">
                            <div class="card-body">
                                <p class="mb-4">오늘의 작업자</p>
                                <p class="fs-30 mb-2"><%= TodayWk[0].cnt %></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 stretch-card transparent">
                        <div class="card card-dark-blue">
                            <div class="card-body">
                                <p class="mb-4">전체 작업자</p>
                                <p class="fs-30 mb-2"><%= workCount[1].cnt %></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                        <div class="card card-light-blue">
                            <div class="card-body">
                                <p class="mb-4">신입 작업자</p>
                                <p class="fs-30 mb-2"><%= workCount[0].cnt %></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 stretch-card transparent">
                        <div class="card card-light-danger">
                            <div class="card-body">
                                <p class="mb-4">금일 사고 발생 건수</p>
                                <p class="fs-30 mb-2"><%= dateCount[2].cnt %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">월별 현장 사고 관리 현황</p>
                        <p class="font-weight-500">2021년 발생한 사고 건수에 대한 그래프 입니다.</p>
                        <div class="d-flex flex-wrap mb-5">
                            <div class="mr-5 mt-3">
                                <p class="text-muted">작년 사고 건수 평균</p>
                                <h3 class="text-primary fs-30 font-weight-medium"><%= dateCount[0].cnt %></h3>
                            </div>
                            <div class="mr-5 mt-3">
                                <p class="text-muted">월별 사고 건수 평균</p>
                                <h3 class="text-primary fs-30 font-weight-medium"><%= dateCount[1].cnt %></h3>
                            </div>
                            <div class="mr-5 mt-3">
                                <p class="text-muted">일별 사고 건수 평균</p>
                                <h3 class="text-primary fs-30 font-weight-medium"><%= dateCount[2].cnt %></h3>
                            </div>
                        </div>
                        <canvas id="order-chart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <p class="card-title">공사 작업자 현황</p>
                            <a href="#" class="text-info">더 보기</a>
                        </div>
                        <p class="font-weight-500">2021년 Ground 사의 공사 작업자에 대한 그래프입니다.</p>
                        <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
                        <canvas id="sales-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card position-relative">
                    <div class="card-body">
                        <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
                                            <div class="ml-xl-4 mt-3">
                                                <p class="card-title">작업별 사고 현황</p>
                                                <h1 class="text-primary"><%= acCount[acCount.length-1].count %></h1>
                                                <h3 class="font-weight-500 mb-xl-4 text-primary">총 사고 건수</h3>
                                                <p class="mb-2 mb-xl-0">1. 작업 별 안전 사고 체크 리스트 확인<br>2. 현장 팀장에게 사고 사례 전파</p>
                                            </div>  
                                        </div>
                                        <div class="col-md-12 col-xl-9">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <div class="table-responsive mb-3 mb-md-0 mt-3">
                                                        <table class="table table-borderless report-table">
                                                        <% for(var i = 0; i< acCount.length-1; i++) { %>
                                                            <tr>
                                                                <td class="text-muted"><%= acCount[i].kind %></td>
                                                                <td class="w-100 px-0">
                                                                    <div class="progress progress-md mx-4">
                                                                        <div class="progress-bar bg-primary" role="progressbar" style="width: <%= ((acCount[i].count)/(acCount[acCount.length-1].count))*100 %>%" aria-valuenow="<%= acCount[i].count %>" aria-valuemin="0" aria-valuemax="100"></div>
                                                                    </div>
                                                                </td>
                                                                <td><h5 class="font-weight-bold mb-0"><%= acCount[i].count %></h5></td>
                                                            </tr>
                                                        <% } %>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title mb-0">작업 현황도</p>
                        <div class="table-responsive">
                            <table class="table table-striped table-borderless">
                                <thead>
                                <tr>
                                    <th>작업</th>
                                    <th>날짜</th>
                                    <th>진행 현황</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for ( var i = 0; i  < workStatus.length; i++) { %>
                                <tr>
                                    <td><%= workStatus[i].wsName %></td>
                                    <td><%= dayjs(workStatus[i].wsEndDate).format('YY. MM. DD') %></td>
                                    <td class="font-weight-medium">
                                        <% if (workStatus[i].percent > 99) { %>
                                            <div class="badge badge-primary">완료</div>
                                        <% } else { %>
                                            <div class="badge badge-success">진행중</div>
                                        <% } %>
                                    </td>
                                </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">작업자 체크 리스트</h4>
                        <div class="list-wrapper pt-2">
                            <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                                <% for ( var i = 0 ; i < checkData.length; i++) { %>
                                <li>
                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox" name="chklist" value="<%= checkData[i].cList %>">
                                            <%= checkData[i].cList %>
                                        </label>
                                    </div>
                                    <i id="removebtn" class="remove ti-close"></i>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                        <div class="add-items d-flex mb-0 mt-2">
                            <input type="text" id="listinput" class="form-control todo-list-input" placeholder="작업자 체크 리스트 추가">
                            <button class="add btn btn-icon text-primary todo-list-add-btn bg-transparent"><i class="icon-circle-plus"></i></button>
                        </div>
                        <script>
                            $(".add").click(function(){
                                $.ajax({
                                    url:"/dash/insertmaincheck",
                                    type:"POST",
                                    data:{
                                        "listinput" : $("#listinput").val()
                                    },
                                    dataType:"json",
                                    success:function(data){
                                        console.log(data);
                                    },
                                    error:function(err){
                                        console.log(err)
                                    }
                                })
                            })


                            $(document).on("change", "input:checkbox[name='chklist']", function () {
                                $("li.completed > #removebtn").attr('id', 'deletebtn')

                                $('#deletebtn').click(function () {
                                    $.ajax({
                                        url: "/dash/deletemaincheck",
                                        type: "POST",
                                        data: {
                                            "checkboxinput": $("input:checkbox[name='chklist']:checked").val()
                                        },
                                        dataType: "json",
                                        success: function () {
                                            console.log('delete');
                                        },
                                        error: function (err) {
                                            console.log(err)
                                        }
                                    })
                                })

                            })
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title mb-0">새로운 인력</p>
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th class="pl-0  pb-2 border-bottom">이름</th>
                                    <th class="border-bottom pb-2">직책</th>
                                    <th class="border-bottom pb-2">계약 형태</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var i = 0; i < mainWorker.length; i++ ) { %>
                                <tr>
                                    <td class="pl-0"><%= mainWorker[i].wName %></td>
                                    <td><p class="mb-0"><span class="font-weight-bold mr-2">연구</span></p></td>
                                    <td class="text-muted"><%= mainWorker[i].wRegular %></td>
                                </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">작업자 출근부</p>
                        <ul class="icon-data-list">
                            <% for (var i = 0; i< mainAt.length; i++) { %>
                            <li>
                                <div class="d-flex">
                                    <img src="/upload/<%=mainAt[i].wImage %>" alt="user" onerror="this.src='/upload/noimage.png'">
                                    <div>
                                        <p class="text-info mb-1"><%=mainAt[i].wName %></p>
                                        <p class="mb-0"><%=mainAt[i].wRegular %></p>
                                        <small><%= dayjs(mainAt[i].atDate).format('HH:mm  A') %></small>
                                    </div>
                                </div>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <div class="row">
                    <div class="col-md-12 stretch-card grid-margin">
                        <div class="card data-icon-card-primary" style="height: 170px;">
                            <div class="card-body">
                                <p class="card-title text-white">안전 관리 본부</p>
                                <div class="row">
                                    <div class="col-8 text-white">
                                        <h3>041 - 540 - 3323</h3>
                                        <p class="text-white">충청남도 아산시 배방읍 호서대학교</p>
                                    </div>
                                    <div class="col-4 text-white" style="font-size: 100px;">
                                        <i class="mdi mdi-alert"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 stretch-card grid-margin">
                        <div class="card data-icon-card-success" style="height: 170px;">
                            <div class="card-body">
                                <p class="card-title text-white">안전 소방국</p>
                                <div class="row">
                                    <div class="col-8 text-white">
                                        <h3>041 - 119</h3>
                                        <p class="text-white">충청남도 아산시 소방서</p>
                                    </div>
                                    <div class="col-4 text-white" style="font-size: 100px;">
                                        <i class="mdi mdi-alert"></i>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    
<!-- content-wrapper ends -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=df47683e736734b08db254f6a2be01f9&libraries=services,clusterer,drawing"></script>
<script>
    $(document).ready(function () {
        var geocoder = new kakao.maps.services.Geocoder();

        function searchAddrFromCoords(coords, callback) {
            geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);
        }

        function displayCenterInfo(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                for (var i = 0; i < result.length; i++) {
                    if (result[i].region_type === 'H') {
                        console.log("현재위치: " + result[i].address_name)
                        $("#locateName").text(result[i].address_name);
                        break;
                    }
                }
            }
        }

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function (location) {
                    var lat = location.coords.latitude;
                    var lon = location.coords.longitude;
                    var latlng = new kakao.maps.LatLng(lat, lon)
                    searchAddrFromCoords(latlng, displayCenterInfo);
                    $.ajax({
                        url: '/dash/getWayWeather',
                        type: 'POST',
                        data: {lat: lat, lon: lon,},
                        success: function (data) {
                        $("#temp").text(data.result.temp + " ℃");
                        $("#rain").text(data.result.rain + " %");
                        $("#windspeed").text(data.result.windspeed + " m/s");
                        }
                    });
                    },
                    function (error) {
                    //fail - 유저가 차단버튼을 클릭하여 값을 가져올 수 없는 상태
                    }
            );
        } else {
            //fail - 애초에 GPS 정보를 사용할 수 없는 상태
        }
    })
</script>

<% include ../include/dash_footer_m %>
