<% include ../include/dash_header %>
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h2 style="color:#4B49AC; margin:25px 0 10px 0;"><i class="mdi mdi-account-multiple-plus"></i>&nbsp;작업자 관리</h2>
                <p class="card-description" style="margin: 0 0 30px 20px;">
                  Ground의 중요 인력을 확인해보세요!
                </p>
              <div class="col-md-12 grid-margin ">
              </div>
                <div class="row" style="margin: 50px 0 0 0;">
                  <div class="col-md-4 grid-margin ">
                      <div class="card" style="box-shadow: 1px 1px 22px 3px rgba(163, 174, 184, 0.18);">
                        <div class="card-body text-center">
                          <img src="/dash_assets/images/faces/face1.jpg" height="90%" width="90%" alt="No Image"/>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-8 grid-margin ">
                    <div class="card" style="box-shadow: 1px 1px 18px 3px rgba(163, 174, 184, 0.18);">
                      <div class="card-body">
                            <p style="font-weight: bold; font-size: 18px; margin: 10px 0 20px 0;"><i class="mdi mdi-tooltip-text" style="color: #4B49AC"></i>&nbsp;인적사항</p>
                            <ul class="list-arrow font-weight-bold" style="font-size: 14px;">
                                <li>성함 : <%= db_data[0].wName %></li>
                                <li>고용형태 : <% if (db_data[0].wMemo == null) { %> 
                                  없음.
                                <% } else { %>
                                  <%= db_data[0].wRegular %></p>
                                <% } %></li>
                                <li>E-mail : <%= db_data[0].wEmail %></li>
                                <li>전화번호 : <% if (db_data[0].wMemo == null) { %> 
                                  없음.
                                <% } else { %>
                                  <%= db_data[0].wPhone %>
                                <% } %></li>
                                <li>주소 : <% if (db_data[0].wMemo == null) { %> 
                                  없음.
                                <% } else { %>
                                  <%= db_data[0].wAddress %>
                                <% } %></li>
                            </ul>
                            <p style="font-size: 14px; font-weight: bold;">특이사항</p>
                            <blockquote class="blockquote blockquote-primary">
                                <p><% if (db_data[0].wMemo == null) { %> 
                                  없음.
                                <% } else { %>
                                  <%= db_data[0].wMemo %>
                                <% } %></p>
                            </blockquote>
                      </div>
                    </div>
                </div>
              </div>
              <button type="submit" class="btn btn-inverse-success btn-fw" style="float: right; margin: 0 20px 0 10px;" onclick="location.href='/dash/manpower/1';">
                <i class="mdi mdi-check"></i>                                                    
                  &nbsp; 확인
              </button>
              <button type="submit" class="btn btn-inverse-info btn-fw" style="float: right; margin: 0 0 0 15px;" onclick="location.href='';">
                  <i class="mdi mdi-flattr"></i>                                                    
                    &nbsp; 수정
              </button>
              <button type="submit" class="btn btn-inverse-danger btn-fw" style="float: right; margin: 0 0 0 15px;" onclick="location.href='';">
                  <i class="mdi mdi-close"></i>                                                    
                    &nbsp; 삭제
              </button>
            </div>
          </div>

        
<% include ../include/dash_footer %>