<% include ../include/dash_header %>
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h2 style="color:#4B49AC; margin:25px 0 10px 0;"><i class="mdi mdi-bullhorn"></i>&nbsp;공지사항</h2>
              <p class="card-description" style="margin: 0 0 30px 20px;">
                Ground 중요 내용을 확인 해보세요.
              </p>
              <div class="table-responsive">
                <table class="table table-hover text-center">
                  <thead>
                    <th class="col-md-1 font-weight-bold">공지사항</th>
                    <th class="col-md-4">제목</th>
                    <th class="col-md-1">작성자</th>
                    <th class="col-md-1">날짜</th>
                  </thead>
                  <tbody>
                    <% for(var i = (an_num - 1) * max_value; i < an_num * max_value; i++){ %>
                      <% var data_value=db_data[i]; if(data_value===undefined){ continue; } %>
                      <tr onclick="location.href='/dash/noticedetail/<%= data_value.anid %>'">
                        <td class="font-weight-bold">[ 공지사항 ]</td>
                        <td><%= db_data[i].antitle %></td>
                        <td><%= db_data[i].anwriter %></td>
                        <td><%= db_data[i].andate %></td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
                
                <nav>
                  <ul class="pagination justify-content-center mt-5">
                    <% if(an_num == 1) { %>
                        <li class="page-item"><a id="prev" class="page-link" style="color: black; display:none;" href="/dash/notice/<%=Number(an_num)-1%>">">이전</a></li>
                    <% } else if (an_num > 1) { %>
                        <li class="page-item"><a id="prev" class="page-link" style="color: black; display:block;" href="/dash/notice/<%=Number(an_num)-1%>">이전</a></li>
                    <% } %>
                    <% for(var j = 1; j<= Math.ceil(db_data.length / max_value); j++){ %>
                      <%if(j != an_num){%>
                        <li class="page-item"><a class="page-link" style="color: black;" href="/dash/notice/<%= j %>"><%= j %></a>
                      <%}else{%>
                        <li class="page-item"><a class="page-link" style="color: black; background-color: #c8c8c8;" href="/dash/notice/<%= j %>"><%= j %></a>
                      <%}%>
                    <% } if(an_num == Math.ceil(db_data.length / max_value)) { %>
                        <li class="page-item"><a id="next" class="page-link" style="color: black; display:none;" href="/dash/notice/<%=Number(an_num)+1%>">다음</a></li>
                    <% } else if (an_num < Math.ceil(db_data.length / max_value)) { %>
                        <li class="page-item"><a id="next" class="page-link" style="color: black; display:block;" href="/dash/notice/<%=Number(an_num)+1%>">다음</a></li>
                    <% } %></ul>
                </nav>

                <button type="button" class="btn btn-primary btn-icon-text ms-2" style="float:right;" onclick="location.href='/dash/notice_write';">
                  <i class="mdi mdi-plus"></i>
                  등록하기
                </button>      
             </div>
            </div>
          </div>
        </div>
        
<% include ../include/dash_footer %>