<% include ../include/dash_header %>
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h2 style="color:#4B49AC; margin:25px 0 10px 0;"><i class="mdi mdi-houzz"></i>&nbsp;공사 작업 현황</h2>
              <p class="card-description" style="margin: 0 0 30px 20px;">
                Ground의 공사 작업 현황을 확인하세요.
              </p>
            <div class="col-md-12 grid-margin ">
                <div class="card" style="box-shadow: 1px 1px 22px 3px rgba(163, 174, 184, 0.18);" heigh="100px">
                <div class="card-body">
                    <p style="font-weight: bold; font-size: 18px; margin: 10px 0 15px 0;"><i class="mdi mdi-check" style="color: #4B49AC"></i>&nbsp;공사 작업 현황</p>
                    <address style="font-size: 16px; color: gray; margin: 0 0 15px 25px;">
                        <p style="font-size: 13px;">
                            공사 기간 : <%= db_data[0].wsStartDate %> ~ <%= db_data[0].wsEndDate %>
                        </p>
                    </address>
                    <div class="progress progress-md mx-4">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: <%= db_data[0].percent %>%" aria-valuenow="<%= db_data[0].percent %>" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                </div>
            </div>
              <div class="row" style="margin: 50px 0 0 0;">
                <div class="col-md-4 grid-margin ">
                    <div class="card" style="box-shadow: 1px 1px 22px 3px rgba(163, 174, 184, 0.18);">
                    <div class="card-body">
                        <p style="font-weight: bold; font-size: 18px; margin: 0 0 20px 0;"><i class="mdi mdi-account-check" style="color: #4B49AC"></i>&nbsp;관리자</p>
                        <address style="font-size: 15px; color: gray; margin: 0 0 0 30px;">
                            <p class="font-weight-bold" style="font-size: 15px;">
                                <%= db_data[0].wsManager %>
                            </p>
                        </address>
                    </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin ">
                    <div class="card" style="box-shadow: 1px 1px 22px 3px rgba(163, 174, 184, 0.18);">
                    <div class="card-body">
                        <p style="font-weight: bold; font-size: 18px; margin: 0 0 20px 0;"><i class="mdi mdi-book" style="color: #4B49AC"></i>&nbsp;직급</p>
                        <address style="font-size: 15px; color: gray; margin: 0 0 0 30px;">
                            <p class="font-weight-bold" style="font-size: 15px;">
                                <%= db_data[0].wsManagerRank %>
                            </p>
                        </address>
                    </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin ">
                    <div class="card" style="box-shadow: 1px 1px 22px 3px rgba(163, 174, 184, 0.18);">
                    <div class="card-body">
                        <p style="font-weight: bold; font-size: 18px; margin: 0 0 20px 0;"><i class="mdi mdi-account-multiple" style="color: #4B49AC"></i>&nbsp;작업인원</p>
                        <address style="font-size: 15px; color: gray; margin: 0 0 0 30px;">
                            <p class="font-weight-bold" style="font-size: 15px;">
                                <%= db_data[0].wsWorkerNum %>
                            </p>
                        </address>
                    </div>
                    </div>
                </div>
              </div>
                <div class="col-md-12 grid-margin ">
                    <div class="card" style="box-shadow: 1px 1px 22px 3px rgba(163, 174, 184, 0.18);">
                    <div class="card-body">
                        <p style="font-weight: bold; font-size: 18px; margin: 0 0 20px 0;"><i class="mdi mdi-wrench" style="color: #4B49AC"></i>&nbsp;작업명</p>
                        <address style="font-size: 15px; color: gray; margin: 0 0 0 30px;">
                            <p class="font-weight-bold" style="font-size: 14px;">
                                <%= db_data[0].wsName %>
                            </p>
                        </address>
                    </div>
                    </div>
                </div>
                <div class="col-md-12 grid-margin ">
                    <div class="card" style="box-shadow: 1px 1px 22px 3px rgba(163, 174, 184, 0.18);">
                    <div class="card-body">
                        <p style="font-weight: bold; font-size: 18px; margin: 10px 0 20px 0;"><i class="mdi mdi-map-marker-radius" style="color: #4B49AC"></i>&nbsp;공사 장소</p>
                        <%= db_data[0].wsLocation %>
                    </div>
                    </div>
                </div>
                <div class="col-md-12 grid-margin ">
                    <div class="card" style="box-shadow: 1px 1px 18px 3px rgba(163, 174, 184, 0.18);">
                    <div class="card-body">
                        <p style="font-weight: bold; font-size: 18px; margin: 10px 0 20px 0;"><i class="mdi mdi-tooltip-text" style="color: #4B49AC"></i>&nbsp;메모</p>
                        <address style="font-size: 40px; color: gray; margin: 0 0 0 30px;">
                            <p class="font-weight-bold" style="font-size: 15px;">
                                <%= db_data[0].wsMemo %>
                            </p>
                        </address>
                    </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-inverse-success btn-fw" style="float: right; margin: 0 20px 0 10px;" onclick="location.href='/dash/work_chart/1';">
                    <i class="mdi mdi-check"></i>                                                    
                      &nbsp; 확인
                </button>
                <button type="submit" class="btn btn-inverse-info btn-fw" style="float: right; margin: 0 0 0 15px;" onclick="location.href='';">
                    <i class="mdi mdi-flattr"></i>                                                    
                      &nbsp; 수정
                </button>
                <button type="submit" class="btn btn-inverse-danger btn-fw" style="float: right; margin: 0 0 0 15px;" onclick="location.href='';">
                    <i class="mdi mdi-close"></i>                                                    
                      &nbsp; 삭제
                </button>
            </div>
          </div>
        </div>

        
<% include ../include/dash_footer %>