<% include ../include/dash_header %>
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h2 style="color:#4B49AC; margin:25px 0 10px 0;"><i class="mdi mdi-houzz"></i>&nbsp;공사 작업 현황</h2>
              <p class="card-description" style="margin: 0 0 30px 20px;">
                Ground 공사 작업 현황을 확인해주세요.
              </p>
              <div class="table-responsive">
                <table class="table table-striped table-hover text-center ">
                  <thead>
                    <tr>
                      <th class="col-md-1">
                        번호
                      </th>
                      <th class="col-md-1">
                        작업명
                      </th>
                      <th class="col-md-1">
                        작업 장소
                      </th>
                      <th class="col-md-4">
                        공사 진행도
                      </th>
                      <th class="col-md-1">
                        공사 시작일
                      </th>
                      <th class="col-md-1"> 
                        공사 완료일
                      </th>
                      <th class="col-md-1">
                        관리자
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i = (ws_num - 1) * max_value; i < ws_num * max_value; i++){ %>
                      <% var data_value=db_data[i]; if(data_value===undefined){ continue; } %>
                      <tr onclick="location.href='/dash/work_chart_detail/<%= data_value.wsid %>'">  
                      <td class="py-1">
                        <%= data_value.wsid %>
                      </td>
                      <td>
                        <%= data_value.wsName %>
                      </td>
                      <td>
                        <%= data_value.wsLocation %>
                      </td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: <%=data_value.percent %>%" aria-valuenow="<%= data_value.percent %>" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </td>
                      <td>
                        <%= data_value.wsStartDate %>
                      </td>
                      <td>
                        <%= data_value.wsEndDate %>
                      </td>
                      <td>
                        <%= data_value.wsManager %>
                      </td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
                <nav>
                  <ul class="pagination justify-content-center mt-5">
                    <% if(ws_num == 1) { %>
                        <li class="page-item"><a id="prev" class="page-link" style="color: black; display:none;" href="/dash/work_chart/<%=Number(ws_num)-1%>">">이전</a></li>
                    <% } else if (ws_num > 1) { %>
                        <li class="page-item"><a id="prev" class="page-link" style="color: black; display:block;" href="/dash/work_chart/<%=Number(ws_num)-1%>">이전</a></li>
                    <% } %>
                    <% for(var j = 1; j<= Math.ceil(db_data.length / max_value); j++){ %>
                      <%if(j != ws_num){%>
                        <li class="page-item"><a class="page-link" style="color: black;" href="/dash/work_chart/<%= j %>"><%= j %></a>
                      <%}else{%>
                        <li class="page-item"><a class="page-link" style="color: black; background-color: #c8c8c8;" href="/dash/work_chart/<%= j %>"><%= j %></a>
                      <%}%>
                    <% } if(ws_num == Math.ceil(db_data.length / max_value)) { %>
                        <li class="page-item"><a id="next" class="page-link" style="color: black; display:none;" href="/dash/work_chart/<%=Number(ws_num)+1%>">다음</a></li>
                    <% } else if (ws_num < Math.ceil(db_data.length / max_value)) { %>
                        <li class="page-item"><a id="next" class="page-link" style="color: black; display:block;" href="/dash/work_chart/<%=Number(ws_num)+1%>">다음</a></li>
                    <% } %></ul>
                </nav>
                <div style="float: right; margin: 10px 0 25px 0">
                    <button type="submit" class="btn btn-inverse-primary btn-fw" style="float: right; margin: 0 20px 0 15px;" onclick="location.href='/dash/work_chart_add';">
                      <i class="mdi mdi-hospital"></i>                                                    
                        &nbsp; 등록하기
                    </button>
                  </div> 
              </div>
            </div>
          </div>
        </div>

<% include ../include/dash_footer %>
        